:root {
    --th-gray: rgba(255, 255, 255, 0.3);
}

body {
    background: #101010;
    color: #fff !important;
}

sup {
    color: var(--th-gray);
}

.app {
    padding-top: 5vh;
}

input[type="email"] {
    text-align: center;
    width: 20em;
}

button {
    margin: 4px;
    padding: 10px 30px;
    font-size: 24px;
    width: fit-content;
    background: var(--apple-blue-d);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
}

.signup {
    padding: 0 12.5vw;
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    align-items: center;
}

/* t-scroll */

.t-scroll {
    height: 300vh;
    overflow: hidden !important;
    margin: 3vh 0;
}

.t-scroll .mover {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
}

.t-scroll img {
    width: 10em;
}

.t-scroll .labels {
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
    user-select: none;
    cursor: default;
    position: relative;
}

.t-scroll .labels > * {
    opacity: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out;
}

.t-scroll .labels > .show {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.footer {
    color: #fff;
}