@font-face {
    font-family: "Qaz";
    src: url("../assets/fonts/Qaz-Regular.ttf");
}

@font-face {
    font-family: "Garet";
    src: url("../assets/fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "Garet-Heavy";
    src: url("../assets/fonts/Garet-Heavy.ttf");
}

:root {
    --bh-light-purple: #543399;
    --bh-dark-purple: #211431;
    --bh-weak-white: rgba(255, 255, 255, 0.3);
}

body {
    font-family: "Qaz", var(--apple-sf);
    background: linear-gradient(var(--bh-light-purple), var(--bh-dark-purple));
    color: #fff !important;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    font-family: "Garet-Heavy", var(--apple-sf);
    font-weight: bold;
}

a, sup {
    color: var(--bh-weak-white);
}

.app {
    padding-top: 5vh;
}

.bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.075);
    padding: 15px 30px;
    border-radius: 15px;
}

.bubble .sub {
    color: var(--bh-weak-white);
    font-size: 18px;
}

.bubble .num {
    font-size: 64px;
    font-family: "Garet-Heavy", var(--apple-sf);
}

/* a-scroll */

.a-scroll {
    height: 100vh;
    overflow: hidden !important;
    margin: 3vh 0;
}

.a-scroll img {
    border-radius: 1.5em;
    width: 15em;
    perspective: 500px;
}

.a-scroll .mover .higher {
    position: relative;
    top: -10vh;
}

.a-scroll .mover {
    position: relative;
    perspective: 500px;
}

.a-scroll .mover .stats {
    top: -220px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

@media (prefers-color-scheme: dark) {
	.footer {
        color: #fff;
	}
}