/* @font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/sf-pro-text_regular.woff2");
}

@font-face {
  font-family: "SF Pro Text Light";
  src: url("../assets/fonts/sf-pro-text_light.woff2");
}

@font-face {
  font-family: "SF Pro Text Semibold";
  src: url("../assets/fonts/sf-pro-text_semibold.woff2");
} */

:root {
	--apple-bg-primary-l: rgb(242, 242, 247);
	--apple-bg-primary-d: rgb(28, 28, 30);

	--apple-bg-secondary-l: rgb(174, 174, 178);
	--apple-bg-secondary-d: rgb(99, 99, 102);

	--apple-bg-tertiary-l: rgb(209, 209, 214);
	--apple-bg-tertiary-d: rgb(58, 58, 60);

	--apple-blue-l: rgb(0, 122, 255);
	--apple-blue-d: rgb(10, 132, 255);

	--apple-red-l: rgb(255, 59, 48);
	--apple-red-d: rgb(255, 69, 58);

	--apple-green-l: rgb(52, 199, 89);
	--apple-green-d: rgb(48, 209, 88);

	--apple-sf-light: "SF Pro Text Light", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	--apple-sf: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--apple-sf-bold: "SF Pro Text Semibold", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;

	--apple-spring: cubic-bezier(0.25, 0.1, 0.25, 1);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--apple-sf);
	color: #000;
	background: var(--apple-bg-primary-l);
	max-width: 100vw;
	-webkit-font-smoothing: antialiased;
	overflow: hidden auto !important;
}

sup {
    padding: 0 2px 0 3px;
}

h1 {
	font-weight: bold;
	font-family: var(--apple-sf-bold);
}

a {
	color: var(--apple-blue-l);
	text-decoration: none !important;
}

a, button {
	cursor: pointer;
}

input[type="text"], input[type="email"] {
	border: 7.5px rgba(255, 255, 255, 0.1) solid;
	transition: border 0.25s ease-in-out;
	background: transparent;
	outline: transparent;
	border-radius: 25px;
	padding: 0.7em;
	color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus {
	border: 7.5px var(--apple-blue-l) solid;
}

.card-container {
	width: 100vw;
	display: flex;
	flex-direction: row;
	gap: 10vw;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.card-container img {
	height: 70vh;
}

.card-container .card {
	background: #ffffff1c;
	padding: 1em 2em;
	border-radius: 15px;
	width: 40vw;
	text-align: left;
}

.card-container .card .title {
	font-size: 37px;
	font-weight: 700;
	margin-bottom: 20px;
}

.card-container .card .description {
	font-size: 21px;
}

.card-container .card img {
	height: 37px;
}

.logout {
	color: var(--apple-red-l);
}

.footer {
	color: hsla(0, 0%, 0%, 0.5);
	padding: 4em 1em;
	font-size: 0.75em;
	text-align: center;
	font-family: var(--apple-sf-light);
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
	body {
		color: #fff;
		background: var(--apple-bg-primary-d);
	}

	a {
		color: var(--apple-blue-d);
	}

	input[type="text"]:focus, input[type="email"]:focus {
		border: 7.5px var(--apple-blue-d) solid;
	}

	.logout {
		color: var(--apple-red-d);
	}

	body:not(body.colored) .footer {
		color: hsla(0, 0%, 100%, 0.5);
	}
}
