.present {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 35vh;
	background: var(--apple-bg-tertiary-l);
}

.present img {
	height: 15vh;
	margin: 1em;
}

.present p {
	font-family: var(--apple-sf-bold);
	font-weight: bold;
	font-size: 2em;
}

.apps {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.apps .list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 60vw;
	background: #00000015;
	border-radius: calc(58.5px + 1.5em);
}

.apps h1 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
	padding: 2em 1em;
	width: 100vw;
}

.app:not(.list .app) {
	padding: 3em;
	display: grid;
	width: 48vw;
	height: 50vh;
	justify-content: center;
	justify-items: center;
	gap: 1em;
	margin: 5px;
}

.app.wide {
	width: calc(48vw * 2 - 5px * 2 + 1em) !important;
}

.app .icon {
	width: 250px;
	border-radius: 22%;
}

.app .name {
	font-size: 5vh;
}

.apps .list .app {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 2em;
	width: unset;
	padding: 3em;
}

.apps .list .app .name {
	width: 35vw;
}

.apps .list .app a {
	text-align: right;
	width: calc(60vw - 35vw - 150px - 9em);
}

.apps .list .app .icon {
	width: 150px;
	height: 150px;
}

.cider {
	background: #0c0a09;
	color: #fff;
}

.cider a {
	color: #e11d48;
}

.bubble {
	background: linear-gradient(to bottom, #222222, #101010);
	color: #fff;
}

.fraca {
	background: linear-gradient(to bottom right, rgb(112.2, 35.7, 22.95) 10%, black 30%, black 70%, rgb(15.3, 51, 102) 90%);
	color: #fff;
}

.app-bento {
	background: #1c1c1e;
	color: #fff;
}

@media screen and (max-width: 1440px) {
	.apps .list {
		width: 90vw;
		border-radius: calc(17.6px + 1.5em);
	}

	.apps .list .app {
		padding: 1em;
		gap: 20px;
	}

	.apps .list .app .icon {
		width: 80px;
		height: 80px;
	}

	.apps .list .app .name {
		font-size: 3vh;
		width: 20vw;
	}

	.apps .list .app a {
		width: calc(90vw - 20vw - 80px - 4em);
	}
}

@media screen and (max-width: 1100px) {
	.app {
		width: 100vw !important;
		height: unset !important;
	}

	.app.wide {
		width: 100vw !important;
	}
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
	.present {
		background: var(--apple-bg-tertiary-d);
	}

	.apps .list {
		background: #0000006a;
	}
}
