@font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-Regular.ttf");
}

:root {
    --accent: #e11d48;
}

body.colored {
    padding-top: 5vh;
    background: #0c0a09;
    color: #fff;
    font-family: "Figtree", var(--apple-sf), sans-serif;
}

a {
    color: var(--accent);
}

h1 {
    font-family: "Figtree", var(--apple-sf), sans-serif;
    padding: 20px 0;
}

.app .present {
    margin-top: 3vh;
}

.app .present video {
    height: 60vh;
}

.app .present *:not(video) {
    animation: appearTxt 900ms ease-out 1300ms both;
    opacity: 1;
    transform: translateY(0);
}

.app .present p {
    padding: 0 2vw;
}

.console {
    max-width: calc(60vw + 2px);
    margin: 10vh 0 10vh calc(50vw - 30vw);
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.console > p {
    font-weight: 800;
    font-size: 3.5vw;
    filter: blur(1.2px);
    text-shadow: #00ff00 0 0 20px;
}

.feature {
    border: #ffffff30 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.3s ease-out;
}

.feature:hover {
    box-shadow: 0 0 20px var(--accent);
}

div.feature {
    max-width: calc(60vw + 2px);
    margin-left: calc(50vw - 30vw);
    padding-bottom: 15px;
}

a.feature {
    font-size: 1.8em;
    font-weight: 800;
    color: #fff;
    padding: 13px 18px;
}

.feature img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 60vw;
}

.feature p {
    width: fit-content;
    text-align: left;
    padding: 0 15px;
    font-size: 1.2vw;
}

.feature .title {
    font-size: 2.25vw;
    font-weight: 700;
}

.feature.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature.horizon img {
    width: 20vw;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}

.feature.horizon span {
    padding: 7px 10px;
}

.far {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.far > a {
    width: 15em;
}

.footer {
    color: #fff;
}

@media screen and (max-width: 900px) {
    video {
        display: none !important;
    }

    div.feature, .console {
        max-width: calc(85vw + 2px);
        margin-left: calc(50vw - 42.5vw);
    }

    .console > p {
        font-size: 5vw;
    }

    .feature img {
        width: 85vw;
    }

    .feature.horizon {
        flex-direction: column;
    }

    .feature.horizon img {
        width: 85vw;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .feature.horizon span {
        width: 85vw;
    }

    .feature .title {
        font-size: 1.6em;
    }

    .feature p {
        font-size: 1em;
    }

    .far > a {
        width: 85vw;
    }
}

@keyframes appearTxt {
    0% {
        opacity: 0;
        transform: translateY(5.0vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}